* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  margin: 0;
  background-color: $main-background;
}

button {
  cursor: pointer;
}

.S9gUrf-YoZ4jf {
  & > iframe {
    width: 100%;
  }
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $main-background;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid $modal-radio;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $modal-txt-color;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid $modal-radio;
}
