$beta-plug-bckg: #000;
$beta-plug-text: #fff;
$google-btn-bckg: #f4f4f5;
$general-info-title: #18181b;
$functional-btn: #000;
$functional-btn-txt: #fff;
$functional-search-desc: #52525b;
$search-bckg: #efdfd0;
$search-txt: #71717a;
$terms-color: #52525b;
$category-bckg: #e9d5c3;
$waitlist-btn-txt: #fff;
$main-background: #efdfd0;
$overview-top-txt: #52525b;
$results-border: #71717a;
$active-category: #000000;
$primary: #ffffff;
$regulation-main: #18181b;
$review-bckg: #f8f4f0;
$subhead-regulation: #52525b;
$modal-bg: rgba(255, 255, 255, 0.65);
$modal-btn-bg: #000;
$modal-btn-txt: #fff;
$modal-txt-color: #18181b;
$modal-radio: #000;
